// ===========================================
//  Utilities
// ===========================================

$font-family-primary: 'Zen Maru Gothic', sans-serif;
$font-family-title: 'Yusei Magic', sans-serif;
$font-family-round-count: 'Yusei Magic', sans-serif;
$font-family-timer: "DotGothic16", sans-serif;

$color-primary-1: #3498db; // プライマリーカラー
$color-primary-2: #e8f4fd;
$color-accent-1: #e74c3c; // アクセントカラー
$color-accent-2: #f8d7da;
$color-subtle-1: #8da0b5; // #888
$color-subtle-2: #bfcfdd; // #ccc
$color-text-title: #2c3e50; // タイトルメインカラー
$color-text-1: #2c3e50; // デフォルトのテキストカラー
$color-text-2: #8da0b5;
$color-text-3: #bfcfdd;
$color-text-4: #fff;
$color-background-1: #fff; // デフォルトの背景色
$color-background-body: #f8f8f8; // スクリーン背面の背景色
$color-background-content: #f8f8f8; // コンテンツ背景色
$color-background-item: #fff; // コンテンツアイテム背景色

$font-size-title: 3.2rem;
$font-size-round-count: 6.4rem;
$font-size-heading-m: 2.4rem;
$font-size-heading-s: 2rem;
$font-size-lead: 3.2rem;
$font-size-body-m: 1.6rem;
$font-size-body-s: 1.4rem;
$font-size-button: 2rem;
$font-size-button-help: 3.2rem;
$font-size-timer: 4rem;
$font-size-trophy: 2.4rem;
$font-size-copyright: 1.2rem;

$max-width-screen: 768px;

$border-item: 2px solid $color-subtle-2;

$border-radius-screen: 16px;
$border-radius-content: 12px;
$border-radius-item: 8px;
$border-radius-sub-item: 6px;

$shadow-low: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); // 影の低め
$shadow-high: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); // 影の高め

// ブレイクポイント変数設定
$mq-breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 1200px,
);

// bp-mf(BreakPoint-MobileFirst)
@mixin bp-mf($breakpoint: md) {
  @media (min-width: #{map-get($mq-breakpoints, $breakpoint)}) {
    @content;
  }
}

// bp-df(BreakPoint-DesktopFirst)
@mixin bp-df($breakpoint: md) {
  @media (max-width: #{map-get($mq-breakpoints, $breakpoint)}) {
    @content;
  }
}

@mixin section-content($width-margin: 0) {
  max-width: $max-width-screen - $width-margin;
  margin: 0 auto;
}

@mixin content-box {
  background: $color-background-content;
  border-radius: $border-radius-content;
  padding: 32px 16px;
  border-left: 4px solid $color-primary-1;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

/* ===========================================
//  Animations
// ======================================== */

$ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
$ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
$ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);

// 下からフェードイン
@-webkit-keyframes fadeIn-bottom {
  from {
    opacity: 0;
    transform: translateY(24px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn-bottom {
  from {
    opacity: 0;
    transform: translateY(24px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ===========================================
//  Common
// ======================================== */

html {
  font-size: 62.5%;
  overflow-y: scroll;
}

body {
  font-size: $font-size-body-m;
  color: $color-text-1;
  line-height: 1.5;
  font-family: $font-family-primary;
  background: $color-background-body;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

// ===========================================
//  Component
// ===========================================

// 表示画面
.screen {
  $duration: 1.4s;

  display: none;
  background: $color-background-1;
  border-radius: $border-radius-screen;
  padding: 64px 32px;
  box-shadow: $shadow-high;

  &.is-active {
    flex: 1;
    display: flex;
    flex-direction: column;
    animation: fadeIn-bottom $duration $ease-out-expo,
  }

  &__inner {
    @include flex-column();
    gap: 32px;
  }

  &__content {
    @include flex-column();
    gap: 24px;
  }
}

.modal-content {
  @include flex-column();
  gap: 24px;
  height: 100%
}

.item-list {
  @include flex-column();
  gap: 12px;
}

.content-item {
  @include content-box();
  @include flex-column();
  gap: 16px;
  box-shadow: $shadow-low;
}

// タイトル
.title {
  text-align: center;
  font-weight: 700;

  &--main {
    font-size: $font-size-title;
    font-family: $font-family-title;
    color: $color-text-title;
  }

  &--section {
    font-size: $font-size-heading-m;
  }

  &--content {
    font-size: $font-size-heading-s;
  }
}

// ボタン
.btn {
  $duration: 1s;

  padding: 12px;
  border-radius: $border-radius-item;
  font-size: $font-size-button;
  font-weight: 700;
  color: $color-text-4;
  cursor: pointer;
  width: 100%;
  box-shadow: $shadow-low;
  transition:
    background-color $duration $ease-out-expo,
    transform $duration $ease-out-expo,
    box-shadow $duration $ease-out-expo,
    opacity $duration $ease-out-expo;

  &:hover {
    transform: scale(1.02);
    box-shadow: $shadow-high;
  }

  &--primary {
    background: $color-primary-1;

    &:hover {
      background: darken($color-primary-1, 10%);
    }
  }

  &--secondary {
    background: $color-subtle-1;

    &:hover {
      background: darken($color-subtle-1, 10%);
    }
  }

  &--accent {
    background: $color-accent-1;

    &:hover {
      background: darken($color-accent-1, 10%);
    }
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}

.form-input {
  $duration: 1s;

  width: 100%;
  padding: 12px 16px;
  border: $border-item;
  border-radius: $border-radius-item;
  background: $color-background-item;
  transition: border-color $duration $ease-out-expo;

  &:focus {
    border-color: $color-primary-1;
  }

  &::placeholder {
    color: $color-text-3;
  }
}

.lead-text {
  font-size: $font-size-lead;
}

.caption-text {
  font-size: $font-size-body-s;
  font-style: italic;
  text-align: center;
}

.color-panel {
  font-weight: 700;
  text-align: center;
  padding: 24px 16px;
  border-radius: $border-radius-content;
  box-shadow: $shadow-high;

  &--success {
    background: $color-primary-2;
    color: $color-primary-1;
  }

  &--failure {
    background: $color-accent-2;
    color: $color-accent-1;
  }
}

/* ===========================================
//  Word Wolf
// ======================================== */

.word-wolf {
  &-container {
    padding: 12px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  &-content {
    @include section-content();
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

// ===========================================
//  Modal Window
// ===========================================

.modal-window {
  $duration: 1.4s;

  position: fixed;
  inset: 0;
  z-index: 10;
  pointer-events: none;

  &__mask {
    position: absolute;
    inset: 0;
    background: rgba($color: #2c3e50, $alpha: 0.7);
    opacity: 0;
    transition: opacity $duration $ease-out-expo;

    @at-root {

      .is-modal &,
      .is-round-count &,
      .is-help & {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &__container {
    $inset-modal: 24px;

    @include section-content($inset-modal);
    position: absolute;
    inset: $inset-modal;
    opacity: 0;
    transform: translateX(-24px);
    transition:
      opacity $duration $ease-out-expo,
      transform $duration $ease-out-expo;


    @at-root {

      .is-modal &,
      .is-help & {
        opacity: 1;
        pointer-events: auto;
        transform: translateX(0);
      }
    }
  }

  &__content {
    @include content-box;
    box-shadow: $shadow-high;
    height: 100%;
    overflow: auto;
  }

  &__round-count {
    opacity: 0;
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: $font-size-round-count;
    font-weight: 700;
    font-family: $font-family-round-count;
    color: $color-text-4;
    letter-spacing: .1em;
    text-shadow: $shadow-high;
    transition:
      opacity $duration $ease-out-expo;

    @at-root .is-round-count & {
      opacity: 1;
    }
  }
}

// ===========================================
//  トップ画面
// ===========================================



/* ===========================================
//  設定画面
// ======================================== */

.setup-screen {
  &__form {
    $duration: 1s;

    &-toggle {
      $width-setup-form-toggle: 220px;
      $height-setup-form-toggle: 48px;
      $border-radius-setup-form-toggle: calc($height-setup-form-toggle / 2);

      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border: $border-item;
      border-radius: $border-radius-setup-form-toggle;
      background: $color-background-item;
      overflow: hidden;
      width: $width-setup-form-toggle;
      height: $height-setup-form-toggle;
      margin: 0 auto;

      &-label {
        flex: 1;
        text-align: center;
        z-index: 1;
        cursor: pointer;
        font-weight: 700;
        color: $color-text-2;
        -webkit-tap-highlight-color: transparent;
        transition: color $duration $ease-out-expo;

        &.is-active {
          color: $color-text-4;
        }
      }

      &-slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        border-radius: $border-radius-setup-form-toggle;
        transition:
          background-color $duration $ease-out-expo,
          left $duration $ease-out-expo,
          box-shadow $duration $ease-out-expo;

        @at-root .is-tamed & {
          background: $color-primary-1;
          left: 0;
          box-shadow: 1px 0 3px rgba(0, 0, 0, 0.12), 1px 0 2px rgba(0, 0, 0, 0.24);
        }

        @at-root .is-wild & {
          background: $color-accent-1;
          left: 50%;
          box-shadow: -1px 0 3px rgba(0, 0, 0, 0.12), -1px 0 2px rgba(0, 0, 0, 0.24);
        }
      }
    }

    &-description {
      border: $border-item;
      border-radius: $border-radius-item;
      background: $color-background-item;
      overflow: hidden;

      &-frame {
        display: flex;
        transition: transform $duration $ease-out-expo;

        @at-root .is-tamed & {
          transform: translateX(0);
        }

        @at-root .is-wild & {
          transform: translateX(-100%);
        }
      }

      &-item {
        padding: 12px 16px;
        width: 100%;
        flex-shrink: 0;
        @include flex-column();
        gap: 8px;

        &--tamed {
          background: $color-primary-2;
          color: $color-primary-1;
        }

        &--wild {
          background: $color-accent-2;
          color: $color-accent-1;
        }
      }
    }
  }
}

/* ===========================================
//  ワードセット画面
// ======================================== */

.word-set-screen {
  &__form {
    $duration: 1.4s;

    &-error-text {
      opacity: 0;
      user-select: none;
      font-weight: 700;
      color: $color-accent-1;
      transition: opacity $duration $ease-out-expo;

      &.is-active {
        opacity: 1;
      }
    }
  }
}

/* ===========================================
//  ワード配布画面
// ======================================== */

.word-distribution-screen {
  &__text {
    color: $color-accent-1;
    font-weight: 700;
  }

  &__word-display {
    background: $color-background-item;
    padding: 24px;
    border-radius: $border-radius-item;
    width: 100%;
    text-align: center;
    font-size: $font-size-lead;
    font-weight: 700;
    box-shadow: $shadow-high;
  }
}

/* ===========================================
//  討論画面
// ======================================== */

.discussion-screen {
  &__timer {
    font-family: $font-family-timer;
    font-size: $font-size-timer;
    font-weight: 700;
    color: $color-accent-1;
    text-align: center;
    letter-spacing: .1em;
  }

  &__timer-controls {
    display: flex;
    gap: 12px;
  }

  &__player {
    $duration: 1s;

    &-item {
      background: $color-background-item;
      border-radius: $border-radius-item;
      padding: 12px;
      cursor: pointer;
      box-shadow: $shadow-low;

      &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 700;
      }

      &-score {
        background: $color-primary-1;
        color: $color-text-4;
        padding: 4px 8px;
        border-radius: $border-radius-sub-item;
        font-size: $font-size-body-s;
        font-weight: 700;
      }

      &-word {
        background: $color-primary-2;
        border-radius: $border-radius-sub-item;
        padding: 0 8px;
        font-weight: 700;
        color: $color-primary-1;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition:
          opacity $duration $ease-out-expo,
          margin $duration $ease-out-expo,
          padding $duration $ease-out-expo;

        &.is-active {
          max-height: 100px;
          margin-top: 12px;
          padding: 8px;
          opacity: 1;
        }
      }
    }
  }
}

/* ===========================================
//  投票画面
// ======================================== */

.vote-screen {
  &__option-item {
    $duration: 0.7s;

    background: $color-background-item;
    border-radius: $border-radius-item;
    padding: 12px;
    cursor: pointer;
    box-shadow: $shadow-low;
    font-weight: 700;
    transition:
      background-color $duration $ease-out-expo,
      color $duration $ease-out-expo,
      box-shadow $duration $ease-out-expo;

    &.is-active {
      background: $color-accent-1;
      color: $color-text-4;
      box-shadow: $shadow-high;
    }
  }
}

/* ===========================================
//  投票結果画面
// ======================================== */

.vote-result-screen {
  &__accused-player {
    font-size: $font-size-heading-s;
    font-weight: 700;
    text-align: center;
  }

  &__volt-history {
    &-item {
      background: $color-background-item;
      border-radius: $border-radius-item;
      padding: 8px 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      font-weight: 700;
      box-shadow: $shadow-low;
    }

    &-arrow {
      color: $color-accent-1;
    }
  }
}

/* ===========================================
//  逆転チャンス画面
// ======================================== */



/* ===========================================
//  逆転チャンス結果画面
// ======================================== */



/* ===========================================
//  ゲーム結果画面
// ======================================== */

.game-result-screen {
  &__score {
    &-item {
      background: $color-background-item;
      border-radius: $border-radius-item;
      padding: 8px 12px;
      font-weight: 700;
      position: relative;
      box-shadow: $shadow-low;
    }

    &-player {
      display: flex;
      justify-content: space-between;
    }

    &-word {
      text-align: center;
      border-radius: $border-radius-sub-item;
      padding: 4px 8px;
      font-weight: 700;
      font-size: $font-size-body-s;

      &-wolf {
        background: $color-accent-2;
        color: $color-accent-1;
      }

      &-villager {
        background: $color-primary-2;
        color: $color-primary-1;
      }

      &-master {
        background: $color-subtle-2;
        color: $color-subtle-1;
      }
    }

    &-win {
      color: rgba($color-accent-1, 0.8);
      font-weight: 700;
      text-shadow: $shadow-high;
      position: absolute;
      top: 4px;
      right: 48px;
    }
  }
}

/* ===========================================
//  最終結果画面
// ======================================== */

.end-result-screen {
  &__score {
    &-item {
      background: $color-background-item;
      border-radius: $border-radius-item;
      padding: 8px 12px;
      display: flex;
      justify-content: space-between;
      font-weight: 700;
      box-shadow: $shadow-low;
      position: relative;
    }

    &-winner {
      font-size: $font-size-trophy;
      text-shadow: $shadow-high;
      position: absolute;
      top: -6px;
      left: -16px;
    }
  }
}

/* ===========================================
//  ヘルプ画面
// ======================================== */

.help-screen {
  &__inner {
    $inset-help: 24px;

    position: fixed;
    inset: 0;
    pointer-events: none;
    @include section-content($inset-help);
  }

  &__modal {
    &-body {
      border: $border-item;
      border-radius: $border-radius-item;
      background: $color-background-item;
      padding: 12px;
      overflow: auto;
      flex: 1;
      @include flex-column();
      gap: 24px;

      &-item {
        @include flex-column();
        gap: 12px;

        &--author {
          text-align: center;
        }
      }
    }
  }

  &__btn {
    $duration: 1s;

    position: absolute;
    right: 24px;
    bottom: 48px;
    z-index: 100;
    background: $color-subtle-1;
    color: $color-text-4;
    width: 48px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    font-size: $font-size-button-help;
    font-weight: 900;
    cursor: pointer;
    transition:
      opacity $duration $ease-out-expo,
      transform $duration $ease-out-expo,
      box-shadow $duration $ease-out-expo,
      background-color $duration $ease-out-expo;
    opacity: 0.8;
    pointer-events: auto;
    -webkit-tap-highlight-color: transparent;
    box-shadow: $shadow-low;

    &:hover {
      transform: scale(1.1);
      background: darken($color-subtle-1, 10%);
      box-shadow: $shadow-high;
    }

    @at-root {

      .is-help &,
      .is-modal &,
      .is-round-count & {
        pointer-events: none;
        opacity: 0;
      }
    }
  }
}

/* ===========================================
//  Footer
// ======================================== */

.footer {
  &__inner {
    padding: 0 16px;
  }

  &__content {
    text-align: center;
  }

  &__copyright {
    font-size: $font-size-copyright;
  }

}